[Unit]
Description = code-server
Documentation = https://github.com/cdr/code-server
After = network-online.target remote-fs.target nss-lookup.target

Wants = network-online.target

[Service]
SyslogIdentifier = code-server
User = centos
Type = simple
Environment = PASSWORD={{ session_name }}
Environment = SERVICE_URL=https://marketplace.visualstudio.com/_apis/public/gallery
Environment = NODE_EXTRA_CA_CERTS=/etc/ssl/certs/ca-bundle.crt
ExecStart = /usr/local/bin/code-server --port 8998 \
              --cert /home/centos/.code-server.crt --cert-key /home/centos/.code-server.key \
              --auth password \
              --disable-telemetry --disable-updates
Restart = always
RestartSec = 5
StartLimitBurst = 10
StartLimitInterval = 60

[Install]
WantedBy = multi-user.target
