[Unit]
Description = code-server
Documentation = https://github.com/cdr/code-server
After = network-online.target remote-fs.target nss-lookup.target

Wants = network-online.target

[Service]
SyslogIdentifier = code-server
User = {{ current_os.user }}
Type = simple
Environment = SERVICE_URL=https://marketplace.visualstudio.com/_apis/public/gallery
Environment = NODE_EXTRA_CA_CERTS=/etc/ssl/certs/ca-bundle.crt
ExecStart = /usr/local/bin/code-server --config /home/{{ current_os.user }}/.config/code-server/config.yaml /home/{{ current_os.user }}/
Restart = always
RestartSec = 5
StartLimitBurst = 10
StartLimitInterval = 60

[Install]
WantedBy = multi-user.target
