{% for host in groups[item.1] %}
Host {{ hostvars[host].hostname }}
    Hostname {{ hostvars[host].ansible_host }}
{% endfor %}

Host *
  User {{ current_os.user }}
  IdentityFile {{ item.1 }}.pem
  StrictHostKeyChecking no
